[user]
	name = James Walsh
	email = jamesandersonwalsh@gmail.com
[init]
	defaultBranch = main
[pull]
	rebase = true
[rebase]
	autoStash = true
[push]
	autoSetupRemote = true
[pager]
	branch = false
[alias]
	lg = log --pretty=format:'%C(yellow)%h %<(24)%C(red)%ad %<(18)%C(green)%an %C(reset)%s' --date=local
	yolo = commit --no-verify
	wip = commit -am "WIP"
	st = status
	s = switch
	sc = switch -c
[url "git@github.com:"]
	insteadOf = https://github.com/
[includeIf "gitdir:~/dev/work/"]
	path = ~/.config/git/work
[includeIf "gitdir:~/dev/personal/"]
	path = ~/.config/git/personal
